.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: space-between;
}

.card {
  width: 250px;
  height: 250px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

img {
  width: 200px;
  height: 100px;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 20px 5px #c4c4c4;
        transform: scale(1.2, 1.2);
        transition-duration: 0.5s;

}
